.type {
    width:30px;
    color:#999;
}

.id {
    width:50px;
    color:#999;
}

.name {
    width:80px;
    color:#999;
}

.content {
    width:330px;
    color:#333;
    word-wrap:break-word
}

.time {
    width:132px;
    color:#999;
    font-size:13px;
}

.clamp {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.edit {
    padding:40px 40px 20px 0;
}

.avatar {
    width: 60px;
}

.layui-form-item .layui-input-inline {
    width:70px;
}

.avatar-name {
    margin-top:10px;
}

.layui-word-aux {
    margin-top:10px;
}
