<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>哈土豆IM安装向导</title>
	<link rel="stylesheet" type="text/css" href="/static/admin/libs/layui/css/layui.css">
	<script src="/static/admin/js/jquery-1.12.4.min.js"></script>
	<script src="/static/admin/libs/layui/layui.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/admin/css/install.css">
</head>
<body>
<div class="install-body">
	<form class="layui-form" method="post">
		<h2 class="form-item">服务器设置</h2>
		<div class="layui-form-item">
			<label class="layui-form-label">wolive-pusher 服务地址</label>
			<div class="layui-input-inline">
				<input type="text" name="ws_address" value="{$ws_address}" required  lay-verify="required" placeholder="请输入wolive-pusher服务地址" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">wolive-pusher api地址</label>
			<div class="layui-input-inline">
				<input type="text" name="api_address" value="{$api_address}" required  lay-verify="required" placeholder="请输入wolive-pusher api地址" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">appkey</label>
			<div class="layui-input-inline">
				<input type="text" name="appkey" value="{$appkey}" required  lay-verify="required" placeholder="请输入appkey" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">appsecret</label>
			<div class="layui-input-inline">
				<input type="text" name="appsecret" value="{$appsecret}" required  lay-verify="required" placeholder="请输入appsecret" class="layui-input">
			</div>
		</div>
		<button class="layui-btn form-item" lay-submit lay-filter="form">下一步</button>
	</form>
</div>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(form)', function(data){
            $.ajax({
                url:'/admin/install/step3',
                type:'post',
                data: data.field,
                success:function(res){
                    if (res.code == 0) {
                        location = '/admin/install/step4';
					} else {
                        layer.open({
                            content: res.msg
                        });
					}
                }
            });
            return false;
        });
    });
</script>
</body>
</html>