<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,group-scalable=no"/>
	<title>哈土豆IM管理后台-消息日志</title>
	<link rel="stylesheet" type="text/css" href="/static/admin/libs/layui/css/layui.css">
	<script src="/static/admin/js/jquery-1.12.4.min.js"></script>
	<script src="/static/admin/libs/layui/layui.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/admin/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/admin/css/group.css">
</head>

<body>
<div class="edit">
	<form class="layui-form" action="">
		<input type="hidden" name="gid" lay-verify="required"  value="{$group_info['gid']}">
		<input type="hidden" name="avatar" value="{$group_info['avatar']}">
		<div class="layui-form-item">
			<label class="layui-form-label avatar-name">头像</label>
			<div class="layui-input-inline">
				<img src="{$group_info['avatar']}" class="avatar"/>
			</div>
			<div class="layui-form-mid layui-word-aux">群头像不可编辑</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">群名</label>
			<div class="layui-input-block">
				<input type="text" name="groupname" required  lay-verify="required" placeholder="输入账号" autocomplete="off" class="layui-input" value="{$group_info['groupname']}">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="edit">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>

	<script>

        layui.use('form', function(){
            var form = layui.form;
            //监听提交
            form.on('submit(edit)', function(data){
                $.ajax({
                    url:'/admin/group/update',
                    type:'post',
                    data: data.field,
                    success:function(res){
                        if (res.code == 0) {
                            layui.layer.msg('修改成功');
                            setTimeout(function () {
                                parent.location.reload();
                            }, 2000);
                        } else {
                            layui.layer.msg(res.msg);
                        }
                    }
                });
                return false;
            });
        });
	</script>
</div>

</body>
</html>


